<section class="container about-me-section" id="about-me">
    <h2 class="visually-hidden">About-me</h2>
    <div class="about-me-text-container">
        <p class="about-me-text">I WORK WITH PEOPLE ALL OVER THE WORLD TO CREATE IMPRESSIVE AND <span
                class="about-me-red">FUNCTIONAL</span>
            <span class="about-me-grey">WEBSITES</span>
            THAT REFLECT EACH CLIENT'S UNIQUE PERSONALITY.
        </p>
    </div>
    <div class="about-me-text-container">
        <img src="./img/about-me/my-photo.png" alt="about-me" width="680" height="700">
    </div>

    <div>
        <ul class="accordion-container-about-me">
            <li class="ac-about-me">
                <h3 class="ac-header-about-me">
                    <button type="button" class="ac-trigger-about-me">
                        ABOUT ME
                        <span class="toggle-icon-about-me">
                            <svg class="arrow-about-me" width="18" height="18">
                                <use href="../img/icons.svg#icon-openning-arrow"></use>
                            </svg>
                        </span>
                    </button>
                </h3>
                <div class="ac-panel-about-me open">
                    <p class="ac-text-about-me"> I am Lloyd Jefferson, a talented programmer with extensive expertise in
                        software
                        development. I have an understanding of
                        different programming languages and technologies, always ready to improve my skills. I always
                        follow
                        the
                        latest trends
                        and look for unconventional, creative solutions to problems. I have a high level of analytical
                        skills
                        and
                        am able to
                        effectively solve even the most difficult tasks encountered on the way.<br>
                        <br>
                        Able to work both independently and in a team. I can effectively cooperate with colleagues,
                        exchanging
                        ideas and finding
                        optimal solutions. Professional maturity allows you to calmly cope with challenges and stressful
                        situations, while
                        maintaining a high quality of work. I am always looking for opportunities for self-improvement.
                        I
                        actively
                        study new
                        technologies and practices to stay abreast of the latest innovations. I have a strong
                        understanding
                        of
                        various
                        programming languages, frameworks and architectural concepts that allow me to create efficient
                        and
                        scalable software.
                    </p>


                </div>

            </li>

            <li class="ac-about-me">
                <h3 class="ac-header-about-me">
                    <button type="button" class="ac-trigger-about-me">
                        ROLE
                        <span class="toggle-icon-about-me">
                            <svg class="arrow-about-me" width="18" height="18">
                                <use href="../img/icons.svg#icon-openning-arrow"></use>
                            </svg>
                        </span>
                        </span>
                    </button>
                </h3>
                <div class="ac-panel-about-me">
                    <p class="ac-text-about-me">Frontend development<br>HeadlessCMS,Wordpress<br>Blender(enjoy)</p>
                </div>
            </li>

            <li class="ac-about-me">
                <h3 class="ac-header-about-me">
                    <button type="button" class="ac-trigger-about-me">
                        EDUCATION
                        <span class="toggle-icon-about-me">
                            <svg class="arrow-about-me" width="18" height="18">
                                <use href="../img/icons.svg#icon-openning-arrow"></use>
                            </svg>
                        </span>
                        </span>
                    </button>
                </h3>
                <div class="ac-panel-about-me">

                    <ul class="ac-text-about-me">
                        <li>2018 - 2019 / Frontend Development Diploma, <br> GoIT IT School, New York</li>
                        <li>2019 - 2020 / Advanced Web Development Certificate, <br>GoIT IT School, New York</li>
                        <li>2020 - 2022 / Advanced Blender Animation Techniques, Udemy</li>
                    </ul>

                </div>
            </li>
        </ul>
    </div>
    <!-- навички -->
    <div class="swiper-about-me skills-swiper-about-me">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="circle-about-me outline-about-me">HTML</div>
            </div>
            <div class="swiper-slide">
                <div class="circle-about-me outline-about-me">CSS</div>
            </div>
            <div class="swiper-slide">
                <div class="circle-about-me outline-about-me">JavaScript</div>
            </div>
            <div class="swiper-slide">
                <div class="circle-about-me outline-about-me">React</div>
            </div>
            <div class="swiper-slide">
                <div class="circle-about-me outline-about-me">Node.js</div>
            </div>
            <div class="swiper-slide">
                <div class="circle-about-me outline-about-me">Git</div>
            </div>
            <div class="swiper-slide">
                <div class="circle-about-me outline-about-me">Figma</div>
            </div>
            <div class="swiper-slide">
                <div class="circle-about-me outline-about-me">TypeScript</div>
            </div>
        </div>
        <!-- Стрiлка вперeд -->
        <div class="swiper-button-next-about-me"><svg class="button-swiper-about-me" width="28" height="28">
                <use href="../img/icons.svg#icon-swiping-arrow"></use>
            </svg></div>
    </div>
</section>