<section>
  <div class="container benefits-section" id="benefits">
  <h2 class="benefits-title">BENEFITS OF WORKING WITH ME</h2>
  <div class="benefits-wrapper">
    <ul class="list-cards">
      <li class="list-item">
        <svg class="icon-benefits" width="48" height="48">
          <use href="./img/icons.svg#icon-user"></use>
        </svg>
        <h3 class="title-cards-benefits">Expertise</h3>
        <p class="text-content-cards">
          As a highly experienced developer, I have deep knowledge of
          programming and website development.
        </p>
      </li>
      <li class="list-item">
        <svg class="icon-benefits" width="48" height="48">
          <use href="./img/icons.svg#icon-message"></use>
        </svg>
        <h3 class="title-cards-benefits">Communication</h3>
        <p class="text-content-cards">
          Understanding your needs and wants is my priority and I am always open
          to discussions and corrections.
        </p>
      </li>
      <li class="list-item">
        <svg class="icon-benefits" width="48" height="48">
          <use href="./img/icons.svg#icon-brush"></use>
        </svg>
        <h3 class="title-cards-benefits">Art</h3>
        <p class="text-content-cards">
          Thanks to my creative nature, I am ready to accept challenges and help
          you bring your ideas to life.
        </p>
      </li>
      <li class="list-item">
        <svg class="icon-benefits" width="48" height="48">
          <use href="./img/icons.svg#icon-hourglass"></use>
        </svg>
        <h3 class="title-cards-benefits">Urgent execution</h3>
        <p class="text-content-cards">
          I understand how important time is to you. Ready to work quickly and
          efficiently, without reducing the quality of work.
        </p>
      </li>
    </ul>
    <a href="#work-together" class="link-benefits" onclick="event.preventDefault(); document.getElementById('work-together').scrollIntoView({ behavior: 'smooth' });">
      Order the project
  </a>
    </button>
  </div>
</div>
</section>
