<section class="container covers" id="covers">
  <h2 class="visually-hidden">Covers</h2>
  <div class="scroll-wrapper">
    <ul class="scroll-list">
      <li>
        <img src="../img/covers/covers1.png" alt="covers1" />
      </li>
      <li>
        <img src="../img/covers/covers2.png" alt="covers2" />
      </li>
      <li>
        <img src="../img/covers/covers3.png" alt="covers3" />
      </li>
      <li>
        <img src="../img/covers/covers4.png" alt="covers4" />
      </li>
      <li>
        <img src="../img/covers/covers5.png" alt="covers5" />
      </li>
      <li>
        <img src="../img/covers/covers6.png" alt="covers1" />
      </li>
      <li>
        <img src="../img/covers/covers7.png" alt="covers2" />
      </li>
      <li>
        <img src="../img/covers/covers8.png" alt="covers3" />
      </li>
      <li>
        <img src="../img/covers/covers9.png" alt="covers4" />
      </li>
      <li>
        <img src="../img/covers/covers10.png" alt="covers4" />
      </li>
    </ul>
  </div>
</section>
