<section  id="faq">
  <div class="container faq-section">
  <h2 class="faq-title">FAQ</h2>
  <ul class="accordion-container-faq">
    <li class="ac-faq">
      <h3 class="ac-header-faq">
        <button type="button" class="ac-trigger-faq">
          <span class="ac-trigger-text">What programming languages are most often used in your
            project?</span>
          <span class="open-arrow">
            <svg class="open-arrow-icon rotated" width="20" height="20">
              <use href="./img/icons.svg#icon-openning-arrow" />
            </svg>
          </span>
        </button>
      </h3>
      <div class="ac-panel-faq">
        <p class="ac-text-faq">
          In the field of web development, there are various technologies and
          programming languages. Typically, this includes a combination of
          frontend (client side) and backend (server side) languages.
        </p>
      </div>
    </li>
    <li class="ac-faq">
      <h3 class="ac-header-faq">
        <button type="button" class="ac-trigger-faq">
          <span class="ac-trigger-text mobile-version">What are the deadlines for<br />the project?</span>
          <span class="ac-trigger-text desktop-version">What are the deadlines for the project?</span>
          <span class="open-arrow">
            <svg class="open-arrow-icon rotated" width="20" height="20">
              <use href="./img/icons.svg#icon-openning-arrow" />
            </svg>
          </span>
        </button>
      </h3>
      <div class="ac-panel-faq">
        <p class="ac-text-faq">
          The terms of project implementation depend to a large extent on a
          number of factors, such as the scope of the project, its complexity,
          and the availability of resources. Determining exact deadlines is a
          difficult task, and it usually occurs during the planning phase of the
          project.
        </p>
      </div>
    </li>
    <li class="ac-faq">
      <h3 class="ac-header-faq">
        <button type="button" class="ac-trigger-faq">
          <span class="ac-trigger-text">What payment methods do you accept?</span>
          <span class="open-arrow">
            <svg class="open-arrow-icon rotated" width="20" height="20">
              <use href="./img/icons.svg#icon-openning-arrow" />
            </svg>
          </span>
        </button>
      </h3>
      <div class="ac-panel-faq">
        <p class="ac-text-faq">
          Payment through credit and debit cards such as Visa, MasterCard,
          specialized electronic payment systems such as PayPal, as well as
          payments in cryptocurrencies such as Bitcoin, Ethereum and others.
        </p>
      </div>
    </li>
    <li class="ac-faq">
      <h3 class="ac-header-faq">
        <button type="button" class="ac-trigger-faq">
          <span class="ac-trigger-text">How can I contact you?</span>
          <span class="open-arrow">
            <svg class="open-arrow-icon rotated" width="20" height="20">
              <use href="./img/icons.svg#icon-openning-arrow" />
            </svg>
          </span>
        </button>
      </h3>
      <div class="ac-panel-faq">
        <p class="ac-text-faq">
          In the field of web development, there are various technologies and
          programming languages. Typically, this includes a combination of
          frontend (client side) and backend (server side) languages.
        </p>
      </div>
    </li>
    <li class="ac-faq">
      <h3 class="ac-header-faq">
        <button type="button" class="ac-trigger-faq">
          <span class="ac-trigger-text mobile-version">Do you provide advice<br />or support?</span>
          <span class="ac-trigger-text desktop-version">Do you provide advice or support?</span>
          <span class="open-arrow">
            <svg class="open-arrow-icon rotated" width="20" height="20">
              <use href="./img/icons.svg#icon-openning-arrow" />
            </svg>
          </span>
        </button>
      </h3>
      <div class="ac-panel-faq">
        <p class="ac-text-faq">
          The terms of project implementation depend to a large extent on a
          number of factors, such as the scope of the project, its complexity,
          and the availability of resources. Determining exact deadlines is a
          difficult task, and it usually occurs during the planning phase of the
          project.
        </p>
      </div>
    </li>
    <li class="ac-faq">
      <h3 class="ac-header-faq">
        <button type="button" class="ac-trigger-faq">
          <span class="ac-trigger-text mobile-version">What does the process of developing a software product look like
            from idea to implementation?</span>
          <span class="ac-trigger-text desktop-version">What does the process of developing a software<br />product look
            like from idea to implementation?</span>
          <span class="open-arrow">
            <svg class="open-arrow-icon rotated" width="20" height="20">
              <use href="./img/icons.svg#icon-openning-arrow" />
            </svg>
          </span>
        </button>
      </h3>
      <div class="ac-panel-faq">
        <p class="ac-text-faq">
          Payment through credit and debit cards such as Visa, MasterCard,
          specialized electronic payment systems such as PayPal, as well as
          payments in cryptocurrencies such as Bitcoin, Ethereum and others.
        </p>
      </div>
    </li>
  </ul>
  </div>
</section>
