<header class="section">
  <div class="container container-header">
    <a href="#" class="logo">
      <img src="./img/logo/logo.png" alt="Portrait of developer Lloyd Jefferson" class="logo-img" />
      <span class="logo-text">jefferson*</span>
    </a>

    <button class="menu-btn" id="menu-btn">Menu</button>

    <nav class="nav" id="nav">
      <button class="close-btn" id="close-btn">&times;</button>
      <ul class="nav-list">
        <li><a href="#about-me" class="nav-link">About me</a></li>
        <li><a href="#benefits" class="nav-link">Benefits</a></li>
        <li><a href="#projects" class="nav-link">Projects</a></li>
        <li><a href="#faq" class="nav-link">FAQ</a></li>
      </ul>
      <a href="#work-together" class="btn-mobile">Order the project</a>
    </nav>

    <a href="#work-together" class="btn">Order the project</a>

    <svg class="icon-header" width="48" height="48">
      <use href="./img/icons.svg#icon-menu"></use>
    </svg>
    <nav class="nav-mobile">
      <button class="close-btn" id="close-btn">&times;</button>
      <ul class="nav-mobile-list">
        <li><a href="#about-me" class="nav-link">About me</a></li>
        <li><a href="#benefits" class="nav-link">Benefits</a></li>
        <li><a href="#projects" class="nav-link">Projects</a></li>
        <li><a href="#faq" class="nav-link">FAQ</a></li>
      </ul>
      <a href="#work-together" class="btn-mobile">Order the project</a>
    </nav>
  </div>
</header>