<header class="header-header">
  <div class="container-header">
    <a href="#" class="logo">
      <img src="./img/logo/logo.png" alt="Jefferson photo" class="logo-img" />
      <span class="logo-text">jefferson*</span>
    </a>

    <button class="menu-btn" id="menu-btn">Menu</button>

    <nav class="nav" id="nav">
      <ul class="nav-list">
        <li><a href="#about-me" class="nav-link">About me</a></li>
        <li><a href="#benefits" class="nav-link">Benefits</a></li>
        <li><a href="#projects" class="nav-link">Projects</a></li>
        <li><a href="#faq" class="nav-link">FAQ</a></li>
      </ul>
    </nav>
    <a href="#work-together" class="btn">Order the project</a>
  </div>
</header>
