<header class="header-header">
  <div class="container-header">
    <a href="#" class="logo">
      <img src="./img/logo/logo.png" alt="Jefferson photo" class="logo-img" />
      <span class="logo-text">jefferson*</span>
    </a>

    <nav class="nav" id="nav">
      <ul class="nav-list">
        <li><a href="#about" class="nav-link">About</a></li>
        <li><a href="#portfolio" class="nav-link">Portfolio</a></li>
        <li><a href="#contact" class="nav-link">Contact</a></li>
      </ul>
    </nav>

    <a href="#work-together" class="btn">Order the project</a>

    <button class="burger" id="burger" aria-label="Open menu">
      <svg class="icon">
        <use xlink:href="img/sprite.svg#menu"></use>
      </svg>
    </button>

    <button class="close" id="close" aria-label="Close menu">
      <svg class="icon">
        <use xlink:href="img/sprite.svg#close"></use>
      </svg>
    </button>
  </div>
</header>
