<section class="container hero-section">
  <div class="hero-container">
    <h1 class="title-hero">
      HELLO.<br>
      I'M FULLSTACK DEVELOPER<br>
      LLOYD JEFFERSON.
    </h1>
    <div class="socials-wrapper">
      <ul class="socials">
        <li>
          <a href="https://www.instagram.com/goitclub/" target="_blank">IG</a>
        </li>
        <li>
          <a href="https://www.facebook.com/goITclub/" target="_blank">FB</a>
        </li>
        <li>
          <a href="https://www.youtube.com/c/GoIT" target="_blank">YT</a>
        </li>
        <li>
          <a href="https://github.com/ulia012008/team-project-group-11" target="_blank">GH</a>
        </li>
        <li>
          <a href="mailto:loydjefferson@gmail.com">lloydjefferson@gmail.com</a>
        </li>
      </ul>
    </div>
  </div>


</section>