<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>hero</title>
  </head>
  <body>
    <section class="container hero-sectio" id="hero">
      <img src="/src/img/hero.png" alt="" />
      <div class="hero_content">
        <h1 class="hero_title">
          HELLO.<br />
          I'M FULLSTACK DEVELOPER<br />
          LLOYD JEFFERSON.
        </h1>
        <ul class="socials">
          <li class="socials_item">
            <a class="socials_link" href="https://www.instagram.com/goitclub/"
              >IG</a
            >
          </li>
          <li class="socials_item">
            <a class="socials_link" href="https://www.facebook.com/goITclub/"
              >FB</a
            >
          </li>
          <li class="socials_item">
            <a class="socials_link" href="https://www.youtube.com/c/GoIT">YT</a>
          </li>
          <li class="socials_item">
            <a
              class="socials_link"
              href="https://github.com/ulia012008/team-project-group-11"
              >GH</a
            >
          </li>
          <li class="socials_item_mail">
            <a class="socials_link" href="mailto:loydjefferson@gmail.com"
              >lloydjefferson@gmail.com</a
            >
          </li>
        </ul>
        <img src="/src/img/hero.png" alt="" />
      </div>
    </section>
  </body>
</html>
