<section id="projects">
  <div class="projects container">
  <h3 class="projects-title">Projects</h3>

  <div class="projects-swiper swiper projects-mySwiper">
    <ul class="swiper-wrapper">
      <li class="projects-swiper-slide swiper-slide">
        <div class="projects-card">
          <div class="projects-card-content">
            <div class="projects-tags">
              <p class="projects-tag">#react</p>
              <p class="projects-tag">#js</p>
              <p class="projects-tag">#node js</p>
              <p class="projects-tag">#git</p>
            </div>

            <div class="projects-content-wrapper">
              <h3 class="projects-card-title">
                Programming Across <br />
                Borders: Ideas, <br />
                Technologies, Innovations
              </h3>

              <a
                href="https://github.com/ulia012008/team-project-group-11"
                class="projects-btn"
                target="_blank"
                >See project</a
              >
            </div>
          </div>

          <div class="projects-card-img">
            <img
              class="projects-img"
              src="./img/projects/expand-your-mind.png"
              alt="Expand your mind, reading a book"
            />
          </div>
        </div>
      </li>

      <li class="projects-swiper-slide swiper-slide">
        <div class="projects-card">
          <div class="projects-card-content">
            <div class="projects-tags">
              <p class="projects-tag">#react</p>
              <p class="projects-tag">#js</p>
              <p class="projects-tag">#node js</p>
              <p class="projects-tag">#git</p>
            </div>

            <div class="projects-content-wrapper">
              <h3 class="projects-card-title">
                Programming Across <br />
                Borders: Ideas, <br />
                Technologies, Innovations
              </h3>

              <a
                href="https://github.com/ulia012008/team-project-group-11"
                class="projects-btn"
                target="_blank"
                >See project</a
              >
            </div>
          </div>

          <div class="projects-card-img">
            <img
              class="projects-img"
              src="./img/projects/petlove.png"
              alt="PetLove clinic"
            />
          </div>
        </div>
      </li>

      <li class="projects-swiper-slide swiper-slide">
        <div class="projects-card">
          <div class="projects-card-content">
            <div class="projects-tags">
              <p class="projects-tag">#react</p>
              <p class="projects-tag">#js</p>
              <p class="projects-tag">#node js</p>
              <p class="projects-tag">#git</p>
            </div>

            <div class="projects-content-wrapper">
              <h3 class="projects-card-title">
                Programming Across <br />
                Borders: Ideas, <br />
                Technologies, Innovations
              </h3>

              <a
                href="https://github.com/ulia012008/team-project-group-11"
                class="projects-btn"
                target="_blank"
                >See project</a
              >
            </div>
          </div>

          <div class="projects-card-img">
            <img
              class="projects-img"
              src="./img/projects/vocab-builder.png"
              alt="VocabBuilder registration"
            />
          </div>
        </div>
      </li>
    </ul>
  </div>

  <div class="projects-swiper-buttons">
    <button class="projects-swiping-arrow-btn projects-swiping-left-arrow">
      <svg class="projects-swiping-arrow-icon">
        <use href="./img/icons.svg#icon-swiping-arrow"></use>
      </svg>
    </button>
    <button class="projects-swiping-arrow-btn projects-swiping-right-arrow">
      <svg class="projects-swiping-arrow-icon">
        <use href="./img/icons.svg#icon-swiping-arrow"></use>
      </svg>
    </button>
  </div></div>
</section>
