<section class="projects">
  <h3 class="projects-title">Projects</h3>

  <ul class="projects-cards">
    <li class="projects-card">
      <div class="projects-card-content">
        <div class="tags">
          <p class="tag">#react</p>
          <p class="tag">#js</p>
          <p class="tag">#node js</p>
          <p class="tag">#git</p>
        </div>

        <div class="projects-content-wrapper">
          <h3 class="projects-card-title">
            Programming Across <br />
            Borders: Ideas, <br />
            Technologies, Innovations
          </h3>

          <button class="projects-btn">See project</button>
        </div>
      </div>

      <div class="projects-card-img">
        <img
          class="projects-img"
          src="../img/projects/expand-your-mind.png"
          alt="Expand your mind, reading a book"
        />
      </div>
    </li>

    <li class="projects-card">
      <div class="projects-card-content">
        <div class="tags">
          <p class="tag">#react</p>
          <p class="tag">#js</p>
          <p class="tag">#node js</p>
          <p class="tag">#git</p>
        </div>

        <div class="projects-content-wrapper">
          <h3 class="projects-card-title">
            Programming Across <br />
            Borders: Ideas, <br />
            Technologies, Innovations
          </h3>

          <button class="projects-btn">See project</button>
        </div>
      </div>

      <div class="projects-card-img">
        <img
          class="projects-img"
          src="../img/projects/petlove.png"
          alt="PetLove clinic"
        />
      </div>
    </li>

    <li class="projects-card">
      <div class="projects-card-content">
        <div class="tags">
          <p class="tag">#react</p>
          <p class="tag">#js</p>
          <p class="tag">#node js</p>
          <p class="tag">#git</p>
        </div>

        <div class="projects-content-wrapper">
          <h3 class="projects-card-title">
            Programming Across <br />
            Borders: Ideas, <br />
            Technologies, Innovations
          </h3>

          <button class="projects-btn">See project</button>
        </div>
      </div>

      <div class="projects-card-img">
        <img
          class="projects-img"
          src="../img/projects/vocab-builder.png"
          alt="VocabBuilder registration"
        />
      </div>
    </li>
  </ul>

  <div class="projects-arrows">
    <button class="swiping-arrow-btn left-swiping-arrow">
      <svg width="32" height="32" class="swiping-arrow-icon">
        <use xlink:href="../img/icons.svg#icon-swiping-arrow"></use>
      </svg>
    </button>
    <button class="swiping-arrow-btn right-swiping-arrow">
      <svg width="32" height="32" class="swiping-arrow-icon">
        <use xlink:href="../img/icons.svg#icon-swiping-arrow"></use>
      </svg>
    </button>
  </div>
</section>
