<section class="reviews container" id="reviews">

        <h2 class="title-reviews"> Reviews </h2>

        <div class="swiper-reviews">
            <!-- Additional required wrapper -->

            <ul class="list-reviews swiper-wrapper-reviews">

            </ul>


            <!-- Навігаційні кнопки Swiper -->
            <div class="reviews-button-icon">
                <div class="swiper-button-prev">
                    <svg class="reviews-icon" width="32" height="32">
                        <use href="#icon-swiping-arrow"></use>
                    </svg>
                </div>
                <div class="swiper-button-next">
                    <svg class="reviews-icon" width="32" height="32">
                        <use href="#icon-swiping-arrow"></use>
                    </svg>
                </div>
            </div>
        </div>

    </section>
