<section id="work-together">
  <div class="container contact-section-work">
      <div class="work-heading">
      <img src="./img/logo/logo.png" alt="Avatar" class="avatar" />
      <h2 class="line-one">LET’S <span>WORK</span></h2>
    </div>
    <h2 class="line-two">TOGETHER</h2>

    <form class="form-work" id="contact-form-work">
      <div class="form-fields">
        <div class="input-wrapper">
          <input class="input-work" id="email-input-work" type="email" name="email" placeholder="clients@gmail.com"
            required pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$" />
          <span class="error-msg" id="email-error-work">Invalid email, try again</span>
        </div>
        <textarea class="input-work-comments" name="comments" placeholder="comments" required></textarea>
      </div>
      <button type="submit" class="send-btn-work">Send</button>
    </form>
    <!-- Modal -->
    <div class="modal-backdrop-work is-hidden-work" id="success-modal-work" role="dialog" aria-modal="true"
      aria-labelledby="modal-title-work">
      <div class="modal-content-work">
        <button class="modal-close-work" id="close-modal-btn-work">&times;</button>
        <h3 class="modal-title-work" id="modal-title-work">
          Thank you for your interest in cooperation!
        </h3>
        <p class="modal-text-work">
          The manager will contact you shortly to discuss further details and
          opportunities for cooperation. Please stay in touch.
        </p>
      </div>
    </div>
    <div class="contacts-work">
      <a href="mailto:lloydjefferson@gmail.com" class="contact-link-work">lloydjefferson@gmail.com</a>
      <a href="tel:+380111111111" class="contact-link-work">+380 11 111 11 11</a>
    </div>
  </div>
</section>
