<section class="container contact-section-work" id="work-together">
    <h2><img src="./img/logo/logo.png" alt="Avatar" width="44" height="44"> LET’S <span class="about-me-red">WORK</span>
        TOGETHER
    </h2>
    <form class="form-work" id="contact-form-work">
        <input class="input-work" id="email-input-work" type="email" name="email" placeholder="clients@gmail.com"
            required pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$" />
        <span class="error-msg" id="email-error-work">Invalid email, try again</span>
        <textarea class="textarea-work" name="comments" placeholder="comments" required></textarea>
        <button type="submit" class="send-btn-work">Send</button>
    </form>
    <!-- Modal -->
    <div class="modal-backdrop-work is-hidden" id="success-modal-work">
        <div class="modal-content-work">
            <button class="modal-close-work" id="close-modal-btn-work">
                <svg class="close-work-work" width="22" height="22">
                    <use href="#icon-x"></use>
                </svg>
            </button>
            <h3 class="modal-title-work">Thank you for your interest in cooperation!</h3>
            <p class="modal-text-work">
                The manager will contact you shortly to discuss further details and
                opportunities for cooperation. Please stay in touch.
            </p>
        </div>
    </div>
    <div class="contacts-work">
        <a href="mailto:lloydjefferson@gmail.com" class="contact-link-work">lloydjefferson@gmail.com</a>
        <a href="tel:+380111111111" class="contact-link-work">+380 11 111 11 11</a>
    </div>
</section>