.benefits-section {
  margin-bottom: 64px;
}

.benefits-wrapper {
  all: initial;
}

.icon-benefits {
  border-radius: 10px;
  padding: 12px;
  margin-bottom: 64px;
  background: #ed3b44;
  border-radius: 10px;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.list-item > .icon-benefits {
  gap: 24px;
}
.benefits-title {
  width: 100%;
  height: 68px;
  background: none;
  border: none;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: rgba(250, 250, 250, 0.4);
  text-align: left;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin: 0 auto;
}
.title-cards-benefits {
  width: 100%;
  height: 30px;
  font-family: 'Inter Tight';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.02em;
  color: #fafafa;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  word-wrap: break-word;
  overflow: hidden;
}
.text-content-cards {
  width: 100%;
  max-height: 72px;
  font-family: 'Inter Tight';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.6);
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  word-wrap: break-word;
  overflow: hidden;
}
.list-cards {
  margin-bottom: 50px;
}
.list-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  height: 270px;
  background: #242527;
  border-radius: 20px;
  justify-content: space-between;
  flex: none;
  order: 3;
  flex-grow: 0;
  margin-bottom: 32px;
  height: auto; /* чтобы карточки могли адаптироваться по содержимому */
}
.link-benefits {
  display: inline-block;
  font-family: 'Inter Tight';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 1);
  background-color: rgba(28, 29, 32, 1);
  justify-content: center;
  align-items: center;
  padding: 18px 36px;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  flex: none;
  order: 1;
  flex-grow: 0;
  transition: all 0.3s ease;
  word-wrap: break-word;
}
.link-benefits:hover {
  background-color: #ed3b44;
  border-color: #ed3b44;
  color: #ffffff;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .list-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    width: 100%;
    margin-bottom: 64px;
  }
  .list-item {
    margin-bottom: 0;
  }
}
@media (min-width: 1440px) {
  .benefits-section {
    display: flex;
    justify-content: flex-end;
  }
  .list-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    width: 100%;
    margin-bottom: 64px;
    padding-top: 28px;
  }
  .list-item {
    margin-bottom: 0;
  }
}
