section {

  padding-top: 64px;
  /* нижній відступ */
}

.container {
  min-width: 320px;
  /* width: 100%; */
  max-width: 375px;
  margin: 0 auto;
  padding: 32px 16px;
  box-sizing: border-box;

}



/* Стилі для планшетів (від 768px) */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 32px;
  }
}

/* Стилі для десктопів (від 1440px) */
@media only screen and (min-width: 1440px) {
  section {

    padding-bottom: 96px;

  }

  .container {
    max-width: 1440px;

  }
}