.covers {
    background-image: url(../img/covers/elements_vectors.png);
    background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}



.rotated-row {
    transform: rotate(-8deg);
}

.row-left {
    transform: rotate(-8deg);
}

.row-right {
    transform: rotate(-8deg);
}


.scroll-row {
    display: flex;
    width: max-content;
    list-style: none;
    gap: 25px;
    padding: 0;
    margin: 0;
    margin-bottom: 25px;
}

.scroll-row li {
    flex: 0 0 auto;
    width: 282px;
    height: 163px;
    overflow: hidden;
}

@media only screen and (min-width: 768px) {
    .scroll-row li {
        width: 544px;
        height: 314px;
    }
}


.scroll-row img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
}

.animate-left,
.animate-right,
.animate-left-second {
    animation: none;
}

.start-animation .animate-left {
    animation: scrollLeft 180s linear infinite;
}
.start-animation .animate-right {
    animation: scrollRight 180s linear infinite;
}

.start-animation .animate-left-second {
    animation: scrollLeftSecond 180s linear infinite;
}

@keyframes scrollLeft {
    0% {
        transform: translateX(-33.333%);
    }

    100% {
        transform: translateX(-66.666%);
    }
}

@keyframes scrollRight {
    0% {
        transform: translateX(-66.666%);
    }

    100% {
        transform: translateX(-33.333%);
    }
}

@keyframes scrollLeftSecond {
    0% {
        transform: translateX(-33.333%);
    }

    100% {
        transform: translateX(-66.666%);
    }
}