/* Header */
.container-header {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 10;
    left: 0;
    right: 0;
}

.logo {
    display: flex;
    gap: 8px;
    font-size: 19px;
    font-weight: 500;
    color: var(--main-text);
    width: 80px;
    height: 80px;
}

.icon-burger {
    display: block;
    fill: #fbfbfb;
}

@media (min-width: 768px) {
    .icon-burger {
        display: none;
    }
}

.close-btn {
    position: absolute;
    top: 32px;
    right: 24px;
    font-size: 36px;
    background: none;
    border: none;
    color: var(--main-text);
    cursor: pointer;

}

@media (min-width: 768px) {
    .close-btn {
        display: none;
    }
}

/* Кнопка Menu */
.menu-btn {
    display: none;
}

@media (min-width: 768px) {
    .menu-btn {
        display: flex;
        background-color: transparent;
        color: var(--main-text);
        font-weight: 500;
        border: none;
        font-size: 16px;
        cursor: pointer;
        padding: 10px;
        transition: color 0.6s ease;
    }

    .menu-btn:hover {
        text-decoration: underline;
    }
}

/* Навігація */
.nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url('../img/hero/hero_mob.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-100%);
    transition: opacity 0.6s ease, transform 0.3s ease;
    z-index: 999;
}

.nav.open {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

body.menu-open {
    overflow: hidden;
}

@media (min-width: 768px) {
    .nav {
        position: absolute;
        height: auto;
        width: 67px;
        background-color: transparent;
        background-image: none;
        transition: opacity 0.6s ease, transform 0.6s ease;
    }
}

.menu-wrapper {
    position: relative;
    display: flex;

    justify-content: space-between;
}

.menu-wrapper .nav-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;

    font-weight: 500;
    font-size: 18px;
    letter-spacing: -0.02em;
    color: var(--main-text);
}

.nav-list:hover {
    text-decoration: underline;
    text-decoration-skip-ink: none;
}

@media (min-width: 768px) {
    .nav-list {
        gap: 5px;
        white-space: nowrap;
        font-size: 16px;
        margin-top: 38px;
    }
}

.btn-mobile {
    margin-bottom: 48px;
    background-color: #ed3b44;
    padding: 18px 32px;
    border-radius: 60px;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    border: none;
    text-align: center;
    text-decoration: none;
}

.btn-tab {
    display: none;
}

.btn-mobile:active,
.btn-tab:active {
    background-color: #a31b22;
}

@media (min-width: 768px) {
    .btn-mobile {
        display: none;
    }

    .btn-tab {
        display: block;
        margin-bottom: 48px;
        background-color: #ed3b44;
        padding: 18px 32px;
        border-radius: 60px;
        color: #fff;
        font-weight: 500;
        font-size: 16px;
        border: none;
        text-align: center;
        text-decoration: none;
    }
}