/* Header */
header {
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  top: 32px;
}
.container-header {
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  gap: 8px;
}

.logo-img {
  width: 80px;
  height: 80px;
  border-radius: 18px;
  object-fit: cover;
}

.logo-text {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
}

/* Кнопка Menu */
.menu-btn {
  display: none;
}

/* Навігація */
.nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(-100%);
  background: #111;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  z-index: 999;
}
.nav.open {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}
.close-btn {
  position: absolute;
  top: 32px;
  right: 16px;
  font-size: 36px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  z-index: 1000;
}
.nav-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;
  margin-top: 50%;
}
.nav-link {
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  transition: color 0.3s ease;
}
.nav-link:hover {
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

/* Кнопка Order the project */
.btn {
  display: none;
}
.btn-mobile {
  margin-top: auto;
  margin-bottom: 48px;
  background-color: #ed3b44;
  padding: 18px 24px;
  border-radius: 60px;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  border: none;
}
.btn:hover {
  background-color: #e0373f;
}

.icon-header {
  display: block;
  fill: #fbfbfb;
}

/* Tablet */
@media (min-width: 768px) {
  .menu-btn {
    background-color: transparent;
    color: #fff;
    font-weight: 500;
    border: none;
    font-size: 16px;
    cursor: pointer;
    padding: 10px;
    transition: color 0.3s ease;
    display: block;
  }
  .menu-btn:hover {
    text-decoration: underline;
    text-decoration-skip-ink: none;
  }
  .btn {
    background-color: #ed3b44;
    padding: 18px 24px;
    border-radius: 60px;
    color: #fff;
    font-weight: 500;
    letter-spacing: -0.02em;
    display: flex;
    font-family: 'Inter Tight';
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
    justify-content: center;
    align-items: center;
    padding: 18px 36px;
    border: 1px solid rgba(250, 250, 250, 0.2);
    order: 1;
    flex-grow: 0;
    transition: all 0.3s ease;
    word-wrap: break-word;
  }
  .icon-header {
    display: none;
  }
  .nav {
    justify-self: start;
    background: transparent;
  }
  .nav {
    position: absolute;
    top: 50%;
    left: 48%; 
    height: auto; 
    width: auto;
    background-color: transparent;
    transform: none;
    visibility: hidden;
    opacity: 0;
    transition: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .nav.open {
    visibility: visible;
    opacity: 1;
  }

  .close-btn {
    display: none;
  }

  .btn-mobile {
    display: none;
  }
}

body.menu-open {
  overflow: hidden;
}
