/* Header */
.header {
  position: absolute;
  width: 100%;
  padding: 32px 32px 0px 32px;
  background: transparent;
  z-index: 100;
}

.container-header {
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-img {
  width: 80px;
  height: 80px;
  border-radius: 18px;
  object-fit: cover;
}

.logo-text {
  text-align: center;
  margin-left: 8px;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
}

/* Кнопка Menu */
.menu-btn {
  background-color: transparent;
  color: #fff;
  font-weight: 500;
  border: none;
  font-size: 16px;
  cursor: pointer;
  padding: 10px;
  transition: color 0.3s ease;
}

.menu-btn:hover {
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

/* Навігація */
.nav {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: transparent;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.nav.open {
  visibility: visible;
  opacity: 1;
}

.nav-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  margin-top: 0px;
}

.nav-link {
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  transition: color 0.3s ease;
}

.nav-link:hover {
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

/* Кнопка Order the project */
.btn {
  background-color: #ed3b44;
  padding: 18px 24px;
  border-radius: 60px;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
}

.btn:hover {
  background-color: #e0373f;
}

/* Tablet */
@media (max-width: 768px) {
  .menu-btn {
    display: block;
  }

  .btn {
    display: none;
  }
}

/* Mobile */
/* @media (max-width: 375px) {
  .logo-text {
    font-size: 18px;
  }

  .logo-img {
    width: 80px;
    height: 80px;
  }

  .btn {
    display: none;
  }
  .menu-btn {
    display: none;
  }
} */
