.hero-section {
  position: relative;
  padding: 0;
  background-image: image-set(url('../img/hero/hero_mob.png') 1x,
      url('../img/hero/hero_mob@2x.png') 2x);
  background-position: center;
  background-size: 375px;
  background-repeat: no-repeat;
}

@media only screen and (min-width: 768px) {
  .hero-section {
    background-image: image-set(url('../img/hero/hero_tab.png') 1x,
        url('../img/hero/hero_tab@2x.png') 2x);
    background-size: 768px;

  }
}

@media only screen and (min-width: 1440px) {
  .hero-section {
    max-width: 1440px;
    background-image: image-set(url('../img/hero/hero_up_desk.png') 1x,
        url('../img/hero/hero_up_desk@2x.png') 2x);
    background-position: left;
    background-size: 50%;
    background-repeat: no-repeat;
    height: 900px;
    box-sizing: border-box;
    overflow: hidden;

  }
}

.hero-container {
  display: flex;
  flex-direction: column;
  height: 812px;
  padding: 32px 16px;
  justify-content: center;
  align-content: center;
}

@media only screen and (min-width: 768px) {
  .hero-container {}
}

@media only screen and (min-width: 1440px) {
  .hero-container {}
}


.title-hero {
  font-weight: 500;
  font-size: 50px;
  line-height: 100%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--main-text);
  text-align: left;
  width: 100%;

}

@media only screen and (min-width: 768px) {
  .title-hero {
    font-size: 90px;

  }
}

.socials-wrapper {
  position: absolute;
  bottom: 32px;
  right: 32px;
}

.socials {
  display: flex;
  gap: 4px;
  list-style: none;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: flex-end;
}

@media only screen and (min-width: 768px) {
  .socials {
    transform: none;
    right: 32px;
    gap: 8px;
  }

}

/*  */


.socials a {
  color: #FAFAFA;
  text-decoration: none;
  background-color: transparent;
  border-radius: 20px;
  font-size: 14px;
  white-space: nowrap;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  padding: 7px 7px;
  height: 37px;
  cursor: pointer;
}