.reviews {
    padding: 64px 16px;
}

@media screen and (min-width: 768px) {
    .reviews {
        padding: 96px 32px;
    }
}


@media only screen and (min-width: 1440px) {
    .reviews {
        padding: 165px 25px;
    }
}



.title-reviews {
    font-family: "Inter Tight", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.02em;
    color: rgba(250, 250, 250, 0.4);

    width: 284px;
    height: 24px;
    margin-bottom: 32px;
}



.list-reviews {
    display: block;
    padding: 0;
    margin: 0;

}

@media only screen and (min-width: 768px) {
    .list-reviews {
        display: block;
        gap: 16px;
        padding: 0;
        margin: 0;
    }
}


.item-reviews {
    border: 1px solid rgba(250, 250, 250, 0.2);
    border-radius: 20px;
    padding: 32px 24px;
    width: 342px;
    height: 302px;
    display: flex;
    justify-content: space-between;
}

@media only screen and (min-width: 768px) {
    .item-reviews {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

@media only screen and (min-width: 1400px) {
    .item-reviews {
        max-width: 332px;
        height: auto;
    }
}


.icon-reviews {
    width: 48px;
    height: 48px;
    border-radius: 10px;
    margin-bottom: 32px;
}

.div-reviews {
    width: 296px;
    height: 158px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

@media only screen and (min-width: 1400px) {
    .div-reviews {
        width: 284px;
    }
}

.list-title-reviews {
    font-family: "Inter Tight", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: -0.02em;
    color: #fafafa;

}


.text-reviews {
    font-family: "Inter Tight", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.02em;
    color: rgba(250, 250, 250, 0.6);
    max-height: 120px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    /* Кількість рядків перед обрізанням */
    overflow: hidden;
}



.reviews-button-icon {
    display: flex;
    justify-content: center;
    margin-top: 32px;
    gap: 20px;
}



.reviews-icon {
    border: 1px solid rgba(250, 250, 250, 0.5);
    border-radius: 60px;
    stroke-width: 2px;
    stroke: #fafafa;
    fill: none;
    padding: 14px;
    width: 52px;
    height: 52px;
}

@media only screen and (min-width: 768px) {
    .reviews-icon {
        padding: 18px;
        width: 68px;
        height: 68px;
    }
}


/* ? */
/* * Swiper styles */
/* ? */


.swiper-button-next {}


.swiper-button-prev {}

.swiper-button-next.disabled,
.swiper-button-prev.disabled {
    opacity: 0.5;
    pointer-events: none;
}


.swiper {
    overflow: hidden;
    width: 100%;
    /* адаптивно */
    max-width: 344px;
    /* ширина одного слайду */
    margin: 0 auto;
}


@media only screen and (min-width: 768px) {
    .swiper {
        max-width: 716px;
    }
}


@media only screen and (min-width: 1400px) {
    .swiper {
        max-width: 1386px;
    }
}


.swiper-wrapper {
    display: flex;
    /* Розміщуємо слайди горизонтально */

}



.swiper-slide {
    box-sizing: border-box;
    /* Враховуємо відступи в розмірах */
    display: flex;
    justify-content: center;
    width: 344px !important;
    /* Примусово встановлюємо ширину */
    flex-shrink: 0;
    /* Щоб не стискалося */
}


@media only screen and (min-width: 1400px) {
    .swiper-slide {
        width: 332px !important;
        /* Примусово встановлюємо ширину */
        height: 302px !important;
        /* Примусово встановлюємо висоту */
    }
}


/* ! */
/* * Error-message style */
/* ! */


.error-message {
    font-family: "Inter Tight", sans-serif;
    font-weight: 500;
    font-size: 64px;
    line-height: 100%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #ed3b44;
    text-align: center;
}