.reviews {
    padding-top: 64px;
    padding-bottom: 64px;
}

@media screen and (min-width: 768px) {
    .reviews {
        padding-top: 96px;
        padding-bottom: 96px;
    }
}


@media only screen and (min-width: 1440px) {
    .reviews {
        padding: 165px 0;
    }
}



.title-reviews {
    font-family: "Inter Tight", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.02em;
    color: rgba(250, 250, 250, 0.4);

    width: 284px;
    height: 24px;
    margin-bottom: 32px;
}



.list-reviews {
    display: block;
    padding: 0;
    margin: 0;

}

@media only screen and (min-width: 768px) {
    .list-reviews {
        display: flex;
        gap: 16px;
        padding: 0;
        margin: 0;
    }
}


.item-reviews {
    border: 1px solid rgba(250, 250, 250, 0.2);
    border-radius: 20px;
    padding: 32px 24px;
    width: 100%;
    max-width: 344px;
    height: auto;

}

@media only screen and (min-width: 768px) {
    .item-reviews {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

@media only screen and (min-width: 1440px) {
    .item-reviews {
        max-width: 332px;
    }
}


.icon-reviews {
    width: 48px;
    height: 48px;
    border-radius: 10px;
    margin-bottom: 32px;
}

.div-reviews {
    width: 100%;
    max-width: 296px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

@media only screen and (min-width: 1440px) {
    .div-reviews {
        max-width: 284px;
    }
}

.list-title-reviews {
    font-family: "Inter Tight", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: -0.02em;
    color: #fafafa;

}


.text-reviews {
    font-family: "Inter Tight", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.02em;
    color: rgba(250, 250, 250, 0.6);
    max-height: 120px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    /* Кількість рядків перед обрізанням */
    overflow: hidden;
}



.reviews-button-icon {
    display: flex;
    justify-content: center;
    margin-top: 32px;
    gap: 20px;

}



.reviews-icon {
    stroke: #fafafa;
    width: 24px;
    height: 24px;
}

@media only screen and (min-width: 768px) {
    .reviews-icon {
        width: 32px;
        height: 32px;
    }
}


/* ? */
/* * Swiper styles */
/* ? */



.swiper-reviews {
    position: relative;
    overflow: hidden;
    width: 100%;
    /* адаптивно */
    max-width: 344px;
    /* ширина одного слайду */
    margin: 0 auto;

}


@media only screen and (min-width: 768px) {
    .swiper-reviews {
        max-width: 704px;
        width: 704px;
    }
}


@media only screen and (min-width: 1440px) {
    .swiper-reviews {
        max-width: 1386px;
        width: 1386px;
    }
}


.swiper-wrapper-reviews {
    display: flex;
    /* Розміщуємо слайди горизонтально */

}



.swiper-reviews .swiper-slide {
    display: block !important;
    box-sizing: border-box;
    /* Враховуємо відступи в розмірах */
    width: 100% !important;
    /* Важливо */
    max-width: 344px;
    height: auto !important;
    flex-shrink: 0;
    /* Щоб не стискалося */
}

@media only screen and (min-width: 768px) {
    .swiper-reviews .swiper-slide {
        max-width: 336px
    }
}


@media only screen and (min-width: 1440px) {
    .swiper-reviews .swiper-slide {
        max-width: 332px
    }
}



/*  */
/* * Кнопки */
/*  */

.reviews-button-icon .reviews-swiper-button-prev {
    transform: scaleX(-1);
    transform-origin: center;
}

.reviews-button-icon .reviews-swiper-button-prev,
.reviews-button-icon .reviews-swiper-button-next {
    border: 1px solid rgba(250, 250, 250, 0.5);
    border-radius: 60px;
    stroke-width: 2px;
    padding: 14px;
    width: 52px;
    height: 52px;
    cursor: pointer;
}



@media only screen and (min-width: 768px) {

    .reviews-button-icon .reviews-swiper-button-prev,
    .reviews-button-icon .reviews-swiper-button-next {
        padding: 18px;
        width: 68px;
        height: 68px;
    }
}



.reviews-button-icon .reviews-swiper-button-next.disabled,
.reviews-button-icon .reviews-swiper-button-prev.disabled {
    border: 1px solid rgba(250, 250, 250, 0.2);
    pointer-events: none;
    /* Забороняє клік на кнопці */
    opacity: 0.5;
}

/* ? */
/* * Swiper styles end*/
/* ? */


/* ! */
/* * Error-message style */
/* ! */


.error-message {
    font-family: "Inter Tight", sans-serif;
    font-weight: 500;
    font-size: 64px;
    line-height: 100%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #ed3b44;
    text-align: center;
}