.work-heading {
    display: flex;
    align-items: center;
    gap: 8px;
}

.avatar {
    border-radius: 12px;
    width: 44px;
    height: 44px;
}


.line-one,
.line-two {
    margin: 0;
    font-weight: 500;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: var(--main-text);

}

.line-one span {
    color: #ED3B44;
}

.line-two {
    margin-bottom: 63px;
}

@media only screen and (min-width: 768px) {
    .work-heading {
        gap: 10px;
    }

    .line-one,
    .line-two {
        font-size: 64px;
    }

    .line-two {
        margin-bottom: 0;
    }

    .avatar {
        border-radius: 12px;
        width: 70px;
        height: 70px;
    }
}


.form-work {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.form-fields {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

@media only screen and (min-width: 768px) {
    .form-work {
        flex-direction: row;
    }

    .form-fields {
        gap: 32px;
        flex-direction: row;
        margin-top: 64px;
        margin-bottom: 78px;
    }
}

.input-work,
.input-work-comments {
    background: transparent;
    border: none;
    border-bottom: 1px solid rgba(250, 250, 250, 0.4);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.02em;
    color: #fafafa;
    font-family: "Inter Tight", sans-serif;
    height: 44px;
    text-align: start;
    resize: none;
    overflow: hidden;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    width: 343px;
    max-width: 100%;

}
@media only screen and (min-width: 768px){
  .input-work,
    .input-work-comments {
        width: 245px;
    }
}
@media only screen and (min-width: 1440px) {

    .input-work,
    .input-work-comments {
        width: 390px;
    }
}



.input-work::placeholder,
.input-work-comments::placeholder {
    color: rgba(250, 250, 250, 0.6);
}

input:invalid:focus {
    border-bottom: 1px solid #ED3B44;

}


.input-work.invalid+.error-msg {
    display: block;
}

.input-work:focus,
.input-work-comments:focus {
    outline: none;
    box-shadow: none;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.error-msg {
    display: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.02em;
    color: #e74a3b;
}


.send-btn-work {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: var(--button-text);
    border: none;
    cursor: pointer;
    align-self: flex-start;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.02em;
    color: var(--main-text);
    margin-bottom: 64px;
}

/* .send-btn-work:hover{

} */

@media only screen and (min-width: 768px) {
    .send-btn-work {
        margin-top: 0;
        width: 150px;
        height: 150px;

    }
}

.contacts-work {

    display: flex;
    gap: 4px;
    flex-wrap: wrap;
    margin-bottom: 32px;

}

@media only screen and (min-width: 768px) {
    .contacts-work {
        gap: 8px;
        margin-bottom: 169px;
    }
}

.contact-link-work {
    padding: 10px 12px;
    border: 1px solid rgba(250, 250, 250, 0.4);
    border-radius: 30px;
    text-decoration: none;
    color: #fafafa;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.02em;
    color: var(--main-text);
}

@media only screen and (min-width: 768px) {
    .contact-link-work {
        padding: 18px 32px;
        font-size: 16px;
    }
}

/* Modal */
.modal-backdrop-work {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    border: 1px solid rgba(250, 250, 250, 0.1);
    border-radius: 20px;
    padding: 64px 32px;
    width: 100%;
    height: auto;
}


.modal-content-work {
    display: flex;
    flex-direction: column;
    gap: 16px;
    background: #1c1d20;
    padding: 64px 32px;
    border-radius: 16px;
    color: white;
    max-width: 300px;
    text-align: center;
    position: relative;
}

@media only screen and (min-width: 768px) {
    .modal-content-work {
        max-width: 492px;
        padding: 64px;
    }
}

.modal-title-work {
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: -0.02em;
    text-align: center;
    color: var(--main-text);
}

.modal-text-work {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.02em;
    text-align: center;
    color: rgba(250, 250, 250, 0.6);
}

.modal-close-work {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

@media only screen and (min-width: 768px) {
    .modal-close-work {
        width: 24px;
        height: 24px;

    }
}

.is-hidden-work {
    display: none;
}

body.modal-open-work {
    overflow: hidden;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
    background-color: transparent !important;
    -webkit-text-fill-color: white !important;
    transition: background-color 9999s ease-in-out 0s;
}